html {
  scroll-behavior: smooth;
}

*::selection {
  background: rgb(215, 215, 215);
  color: #000;
  transition: 200;
}

* {
  transition-duration: 100ms;
}
/* 
* {
  border: 2px solid red;
} */

.darkBg {
  background-color: #efece7;
  /* color: #fff; */
}

/* Fonts */

.heading2 {
  /* font-weight: bold; */
  margin-top: 20px;
  padding: 20px;
  font-size: 54px;
  font-weight: 300;
  line-height: 86px;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.heading3 {
  /* font-weight: bold; */
  margin-top: 10px;
  padding: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  display: flex;
  width: 90vw;
  justify-content: center;
}

.body2 {
  max-width: 1000px;
  font-size: 24px;
  font-weight: 300;
}

.bodyBold {
  max-width: 1000px;
  font-size: 24px;
  font-weight: 300;
  font-weight: 400;
}

.textDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

/* Navbar */

.navDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.navNameDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.navNameSubDiv {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  line-height: 54px;
  padding: 20px;
  padding-top: 20px;
}

.navName {
  font-size: 54px;
  letter-spacing: 12px;
  font-weight: 200;
  transition: 800ms;
  transition-delay: 800ms;
}

.navName:hover {
  font-size: 64px;
  letter-spacing: 12px;
  font-weight: 500;
  transition: 200ms;
}

.navItemDiv {
  min-width: 200px;
  padding: 16px;
  text-align: center;
}

.navLinkDiv {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding: 10px;
}

.navLink {
  text-decoration: none;
  color: #246f60;
}

.navLink:hover {
  color: #bd4500;
  font-weight: bold;
}


/* Profile */

.sectionDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100vw;
  padding: 20px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  /* border: 1px red solid; */

}

.profileIntroDiv {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  justify-items: center;
  align-items: center;
  text-align: justify;
  align-content: center;
  justify-content: center;
}

.profileSpecialText {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 200;
  padding: 20px;
  line-height: 56px;
  word-spacing: 4px;
}

.CAText {
  color: #246f60;
}

.MBAText {
  color: #bd4500;
}

.profileIntroDescription {
  font-weight: 300;
  padding: 20px;
  line-height: 40px;
  word-spacing: 4px;
  max-width: 90vw;
  font-size: 20px;
}

.profileImageDiv {
  display: flex;
  max-height: 600px;
  position: relative;
  max-width: 600px;
  overflow: hidden;
}

.profilePic {
  object-fit: contain;
  object-position: center;
  border-radius: 8px;
}


/* Projects */

.projectGridDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-evenly;
  margin-bottom: 42px;
}

.projectGridItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: 200ms;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #eae4dc00;
}

.projectGridItem:hover {
  background-color: #f8eee0;
  transition: 200ms;
  /* font-weight: bold; */
  border: 2px solid #343434;
}

.projectImageDiv {
  position: relative;

  border: 1px solid #000000;
  width: 450px;
  height: 254px;

  border-radius: 8px;

  margin: 20px;
  transition: 800ms;
  background-color: rgb(255, 255, 255);
}

.projectImageDiv:hover {
  border: 1px solid #ffffff;
  transition: 200ms;
}

.projectCoverImage {
  object-fit: scale-down;
  border-radius: 8px;
  /* max-width: 100vw; */
}

.projectDescription {
  max-width: 330px;
  text-align: center;
  /* font-weight: 500; */
}

.imageFull {
  object-fit: scale-down;
  border: 1px solid #1e1e1e;
  border-radius: 8px;
}

.imageDivFull {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: fit-content;
  padding: 20px;
}

.imageDivHalf {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: auto;
  padding: 5px;
}


/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100vw;
  min-height: 40px;
  text-align: center;
  font-size: small;
  justify-items: space-around;
  justify-content: space-around;
}

.footerSubDiv {
  position: relative;
}